In [304]:
import numpy as np
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# pymc
import pymc as pm
import pytensor
import pytensor.tensor as pt
#import pymc.sampling_jax
# import numpyro
# import blackjax
# import jax
# import arviz as az

# sklearn
from sklearn import preprocessing
from sklearn import metrics
from sklearn import linear_model
from sklearn.linear_model import Lasso

#statsmodels
import statsmodels.graphics.tsaplots as smg
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant
from statsmodels.regression.linear_model import OLS
from statsmodels.tools.tools import add_constant
from statsmodels.tsa.stattools import kpss
import statsmodels.api as sm
import statsmodels.formula.api as smf


# warnings
import warnings
warnings.filterwarnings("ignore")

# plots
settings = {'figure.figsize':(14,4),
            'figure.dpi':144,
            'figure.facecolor':'w',
            'axes.spines.top':False,
            'axes.spines.bottom':False,
            'axes.spines.left':False,
            'axes.spines.right':False,
            'axes.grid':True,
            'grid.linestyle':'--',
            'grid.linewidth':0.5,
            'figure.constrained_layout.use':True}
plt.rcParams.update(settings)

In [305]:
def readdata():
    data = pd.read_csv(r'../data/hugo_data.csv', index_col=[0], date_format="mm/dd/yyyy")
    return data

raw_data = readdata()
print(raw_data)
print(raw_data.info())

           Start-ups      GDP         U     NAIRU  Job_vacancy        HICP  \
1/1/2006         NaN  179.989  6.433333  4.869898          NaN   86.326667
4/1/2006         NaN  182.917  6.133333  4.877819          NaN   87.216667
7/1/2006         NaN  183.853  5.933333  4.885739          NaN   87.123333
10/1/2006        NaN  185.449  5.866667  4.893660          NaN   87.276667
1/1/2007     46865.0  187.544  5.633333  4.936292          NaN   87.610000
...              ...      ...       ...       ...          ...         ...
4/1/2023     66970.0  234.334  3.466667  4.036260          5.0  128.120000
7/1/2023     64570.0  233.457  3.633333  3.957463          4.8  129.320000
10/1/2023    61245.0  234.031  3.566667  3.878666          4.7  128.356667
1/1/2024     57750.0  233.302  3.633333  3.799049          4.6  129.153333
4/1/2024     60065.0  235.674  3.633333  3.719431          4.6  131.796667

           Cao-wages per hour  Borrowing_costs  Credit_standard       Loans  \
1/1/2006            77.538897         3.933333                0  185.370333
4/1/2006            77.850071         4.046667                0  191.778333
7/1/2006            78.161245         4.320000              -20  193.400333
10/1/2006           78.161245         4.703333               20  207.998667
1/1/2007            78.868458         4.776667               20  230.103000
...                       ...              ...              ...         ...
4/1/2023           110.833333         3.806667               17  354.648667
7/1/2023           112.666667         4.213333                0  355.830667
10/1/2023          113.633333         4.413333                0  364.335333
1/1/2024           117.233333         4.313333                0  365.155667
4/1/2024           117.933333         4.326667                0  370.588333

           Confidence           M3  GDP_nom  Zelfstandigenaftrek    Credit  \
1/1/2006    17.233333   566.266667  143.561                 6500  1858.313
4/1/2006    14.700000   581.174000  146.022                 6500  1870.981
7/1/2006    22.000000   579.250333  147.711                 6500  1899.010
10/1/2006   26.400000   608.504000  150.378                 6500  1898.546
1/1/2007    22.633333   641.579333  153.095                 6500  1937.808
...               ...          ...      ...                  ...       ...
4/1/2023     5.800000  1132.103000  265.391                 5030  3388.116
7/1/2023     6.333333  1126.884000  268.873                 5030  3404.250
10/1/2023   11.833333  1121.555333  271.962                 5030  3435.189
1/1/2024    12.200000  1106.228333  277.058                 3750  3422.555
4/1/2024    20.466667  1128.702333  281.373                 3750       NaN

                 PMI
1/1/2006   56.086602
4/1/2006   57.356056
7/1/2006   57.943175
10/1/2006  55.976631
1/1/2007   57.809169
...              ...
4/1/2023   46.322000
7/1/2023   46.681333
10/1/2023  46.346000
1/1/2024   49.828000
4/1/2024   51.346000

[74 rows x 16 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 74 entries, 1/1/2006 to 4/1/2024
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Start-ups            70 non-null     float64
 1   GDP                  74 non-null     float64
 2   U                    74 non-null     float64
 3   NAIRU                74 non-null     float64
 4   Job_vacancy          66 non-null     float64
 5   HICP                 74 non-null     float64
 6   Cao-wages per hour   74 non-null     float64
 7   Borrowing_costs      74 non-null     float64
 8   Credit_standard      74 non-null     int64
 9   Loans                74 non-null     float64
 10  Confidence           74 non-null     float64
 11  M3                   74 non-null     float64
 12  GDP_nom              74 non-null     float64
 13  Zelfstandigenaftrek  74 non-null     int64
 14  Credit               73 non-null     float64
 15  PMI                  74 non-null     float64
dtypes: float64(14), int64(2)
memory usage: 9.8+ KB
None

In [306]:
data = raw_data[['Start-ups', 
          'GDP', 
          'Job_vacancy',
          'Loans',
          'Zelfstandigenaftrek',
          'Cao-wages per hour',
          'U',
          'NAIRU'
          ]]

In [307]:
def initialregression(data1):

    data1.dropna(inplace=True)
    data1 = np.log(data1)
    data1 = data1.diff(-4)

    data1.dropna(inplace=True)

    y = data1.pop('Start-ups')
    X = data1
    X = sm.add_constant(X)

    model = sm.OLS(y,X)
    results = model.fit()
    print(results.summary())

data1 = data.copy()
initialregression(data1)

                            OLS Regression Results
==============================================================================
Dep. Variable:              Start-ups   R-squared:                       0.208
Model:                            OLS   Adj. R-squared:                  0.106
Method:                 Least Squares   F-statistic:                     2.031
Date:                Tue, 15 Oct 2024   Prob (F-statistic):             0.0677
Time:                        18:46:23   Log-Likelihood:                 45.582
No. Observations:                  62   AIC:                            -75.16
Df Residuals:                      54   BIC:                            -58.15
Df Model:                           7
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                   0.0638      0.065      0.984      0.330      -0.066       0.194
GDP                     1.9210      1.099      1.747      0.086      -0.283       4.125
Job_vacancy            -0.0153      0.195     -0.079      0.938      -0.407       0.376
Loans                  -0.4613      0.371     -1.244      0.219      -1.205       0.282
Zelfstandigenaftrek     0.9784      0.524      1.868      0.067      -0.072       2.028
Cao-wages per hour      4.2552      3.753      1.134      0.262      -3.270      11.780
U                       0.2230      0.238      0.939      0.352      -0.253       0.699
NAIRU                  -0.5069      0.747     -0.679      0.500      -2.004       0.990
==============================================================================
Omnibus:                       11.084   Durbin-Watson:                   2.454
Prob(Omnibus):                  0.004   Jarque-Bera (JB):               33.206
Skew:                          -0.039   Prob(JB):                     6.16e-08
Kurtosis:                       6.584   Cond. No.                         242.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [308]:
# # one at a time
# data.dropna(inplace=True)

# data['Start_ups_percent'] = 100*((data['Start-ups']/data['Start-ups'].shift(4)) - 1)
# data['GDP_percent_lag']  = 100*((data['GDP'].shift(1)/data['GDP'].shift(5)) - 1)
# data['Job_vacancy_lag']  = data['Job_vacancy'].shift(2) - data['Job_vacancy'].shift(6)
# data['Loans']  = data['Loans'].shift(4)
# data['Zelfstandigenaftrek']  = 100*((data['Zelfstandigenaftrek']/data['Zelfstandigenaftrek'].shift(4)) - 1)

# data3 = data.dropna()
# data3 = data3.iloc[25:,]

# results = smf.ols("Start_ups_percent ~ 1 + GDP_percent_lag + Job_vacancy_lag + Loans + Zelfstandigenaftrek", data=data3).fit()

# # Inspect the results
# print(results.summary())

In [309]:
data

,Start-ups,GDP,Job_vacancy,Loans,Zelfstandigenaftrek,Cao-wages per hour,U,NAIRU
1/1/2006,NaN,179.989,NaN,185.370333,6500,77.538897,6.433333,4.869898
4/1/2006,NaN,182.917,NaN,191.778333,6500,77.850071,6.133333,4.877819
7/1/2006,NaN,183.853,NaN,193.400333,6500,78.161245,5.933333,4.885739
10/1/2006,NaN,185.449,NaN,207.998667,6500,78.161245,5.866667,4.893660
1/1/2007,46865.0,187.544,NaN,230.103000,6500,78.868458,5.633333,4.936292
...,...,...,...,...,...,...,...,...
4/1/2023,66970.0,234.334,5.0,354.648667,5030,110.833333,3.466667,4.036260
7/1/2023,64570.0,233.457,4.8,355.830667,5030,112.666667,3.633333,3.957463
10/1/2023,61245.0,234.031,4.7,364.335333,5030,113.633333,3.566667,3.878666
1/1/2024,57750.0,233.302,4.6,365.155667,3750,117.233333,3.633333,3.799049
4/1/2024,60065.0,235.674,4.6,370.588333,3750,117.933333,3.633333,3.719431

In [310]:
# one at a time
#data.dropna(inplace=True)

data['Start_ups_percent'] = 100*(np.log(data['Start-ups']).diff(4))
data['GDP_percent_lag']  = 100*((np.log(data['GDP'])).diff(4)).shift(1)
data['Job_vacancy_lag']  = data['Job_vacancy'].diff(4).shift(2)
#data['Loans_lag']  = data['Loans'].shift(4)
data['U_NAIRU'] = data['U'].shift(4) - data['NAIRU'].shift(4)
data['Zelfstandigenaftrek_lag']  = 100*(np.log(data['Zelfstandigenaftrek']).diff(4)).shift(4)
data['Cao_wages_per_hour_lag'] = 100*(np.log(data['Cao-wages per hour']).diff(4)).shift(3)
data.head(10)

,Start-ups,GDP,Job_vacancy,Loans,Zelfstandigenaftrek,Cao-wages per hour,U,NAIRU,Start_ups_percent,GDP_percent_lag,Job_vacancy_lag,U_NAIRU,Zelfstandigenaftrek_lag,Cao_wages_per_hour_lag
1/1/2006,NaN,179.989,NaN,185.370333,6500,77.538897,6.433333,4.869898,NaN,NaN,NaN,NaN,NaN,NaN
4/1/2006,NaN,182.917,NaN,191.778333,6500,77.850071,6.133333,4.877819,NaN,NaN,NaN,NaN,NaN,NaN
7/1/2006,NaN,183.853,NaN,193.400333,6500,78.161245,5.933333,4.885739,NaN,NaN,NaN,NaN,NaN,NaN
10/1/2006,NaN,185.449,NaN,207.998667,6500,78.161245,5.866667,4.893660,NaN,NaN,NaN,NaN,NaN,NaN
1/1/2007,46865.0,187.544,NaN,230.103000,6500,78.868458,5.633333,4.936292,NaN,NaN,NaN,1.563435,NaN,NaN
4/1/2007,50110.0,188.697,NaN,236.345000,6500,79.264498,5.266667,4.978923,NaN,4.111775,NaN,1.255514,NaN,NaN
7/1/2007,43325.0,190.776,NaN,244.364333,6500,79.915134,5.233333,5.021555,NaN,3.111006,NaN,1.047594,NaN,NaN
10/1/2007,35945.0,193.551,NaN,256.056000,6500,80.028289,5.066667,5.064187,NaN,3.696344,NaN,0.973007,NaN,1.700168
1/1/2008,33460.0,194.907,3.4,274.882667,6500,81.188119,4.800000,5.094126,-33.692043,4.276113,NaN,0.697042,0.0,1.800553
4/1/2008,47585.0,195.047,3.4,290.752000,6500,81.951909,4.800000,5.124065,-5.170300,3.850904,NaN,0.287743,0.0,2.219132

In [311]:

data3 = data.dropna()

data3 = data3.iloc[20:,]

results = smf.ols("Start_ups_percent ~ 1 + GDP_percent_lag + Job_vacancy_lag  + U_NAIRU + Cao_wages_per_hour_lag", data=data3).fit(cov_type='HAC',cov_kwds={'maxlags':5})

# Inspect the results
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Start_ups_percent   R-squared:                       0.685
Model:                            OLS   Adj. R-squared:                  0.650
Method:                 Least Squares   F-statistic:                     56.15
Date:                Tue, 15 Oct 2024   Prob (F-statistic):           9.51e-15
Time:                        18:46:23   Log-Likelihood:                -115.21
No. Observations:                  40   AIC:                             240.4
Df Residuals:                      35   BIC:                             248.9
Df Model:                           4
Covariance Type:                  HAC
==========================================================================================
                             coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept                 12.5925      1.659      7.593      0.000       9.342      15.843
GDP_percent_lag            2.9900      0.351      8.524      0.000       2.302       3.678
Job_vacancy_lag          -10.1088      1.421     -7.112      0.000     -12.895      -7.323
U_NAIRU                   -5.7732      0.657     -8.781      0.000      -7.062      -4.485
Cao_wages_per_hour_lag    -4.5226      0.585     -7.737      0.000      -5.668      -3.377
==============================================================================
Omnibus:                        4.164   Durbin-Watson:                   1.939
Prob(Omnibus):                  0.125   Jarque-Bera (JB):                2.942
Skew:                          -0.617   Prob(JB):                        0.230
Kurtosis:                       3.493   Cond. No.                         15.0
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity and autocorrelation robust (HAC) using 5 lags and without small sample correction